
//Colors
$c_0: #000;
$c_1: #fff;
$c_2: #f8f8f8;
$c_3: #f2f2f2;
$c_4: #e6e6e6;
$c_5: #ccc;
$c_6: #b3b3b3;
$c_7: #999;
$c_8: #808080;
$c_9: #666666;
$c_10: #4d4d4d;
$c_11: #333;
$c_12: #1a1a1a;
$c_12d: darken($c_12, 6%);
$c_12dd: #0a0a0a;
$c_body: #020202;
$c_corp: #D6F224;
$c_corp_hover: #E4FC47;
$c_red: #ac2925;
$c_red_hover: #c9302c;


//BREAKPOINTS
$movil: 768px;
$tablets: 992px;
$desktop: 1200px;
$fullhd: 1600px;
